<div class="p-inputgroup">
  <input
    type="text"
    pInputText
    placeholder="Rechercher une activité"
    #searchInput

  />
  <button
    searchInput
    type="button"
    size="small"
    pButton
    label="Search"
    (click)="searchActivities(searchInput.value)"
  ></button>
</div>

<input
class="filter-input"
  type="number"
  pInputText
  pKeyFilter="num"
  #ageInput
  placeholder="Filtrer par âge"
/>
<button
class="filter-input"
  type="button"
  pButton
  label="Filter"
  (click)="filterActivities(ageInput.value)"
></button>
<div *ngFor = "let activity of activities">
  <p-accordion [activeIndex]="1">
    <p-accordionTab  class="container" header="{{activity.title}}"  >
      <a (click)="onSelectedActivity(activity.id)">
        <img class="activity-img" [src]="activity.image" alt="image d'activité">
      </a>

        <p>{{activity.description}}</p>
    </p-accordionTab>
  </p-accordion>
</div>
