

<div class="activities-age">

  <p-sidebar [(visible)]="sidebarVisible" styleClass="custom-sidebar">
    <h3>Sidebar</h3>
    
</p-sidebar>
<p-button (click)="sidebarVisible = true" icon="pi pi-th-large"></p-button>


  <div [ngClass]="{ 'fade-down': loaded }" class="grid-container">
    <p-card>
      <p-header style="background-color: #fde0e0" class="card-header"
        >Activités manuelles</p-header
      >
      <img
        [routerLink]="['/activities', 1]"
        src="assets/activities_img/activité_manuelle.jpg"
        alt="Image 1"
      />
    </p-card>

    <p-card>
      <p-header style="background-color: #fdf4e0"
        >Activités exterieures</p-header
      >
      <img
        [routerLink]="['/activities', 2]"
        src="assets/activities_img/activité_plein_air.jpg"
        alt="Image 1"
      />
    </p-card>

    <p-card>
      <p-header style="background-color: #e6fde0">Motricité</p-header>
      <img
        [routerLink]="['/activities', 4]"
        src="assets/activities_img/motricité.jpg"
        alt="Image 1"
      />
    </p-card>

    <p-card>
      <p-header style="background-color: #efe0fd">Coloriages</p-header>
      <img
        [routerLink]="['/activities/coloring/3']"
        src="assets/activities_img/coloriage.jpg"
        class="img"
        alt="Image 1"
      />
    </p-card>

    <p-card>
      <p-header style="background-color: #fbfde0">Jeux de société</p-header>
      <img
        [routerLink]="['/activities', 5]"
        src="assets/activities_img/jeux_societe.jpg"
        alt="Image 1"
      />
    </p-card>

    <p-card>
      <p-header style="background-color: #e0f2fd">Contes</p-header>
      <img
        [routerLink]="['/activities', 6]"
        src="assets/activities_img/contes.jpg"
        alt="Image 1"
      />
    </p-card>
  </div>
</div>
