<div class="layout-header">
  <div>
    <p-sidebar
      [(visible)]="sidebarVisible"
      position="top"
      styleClass="custom-sidebar"
    >
      <ul>
        <li><a [routerLink]="['/home']">Accueil</a></li>
        <p-divider type="solid"></p-divider>
        <li>
          <a [routerLink]="['/activities']" (click)="closeSidebar()"
            >Toutes les activités</a
          >
        </li>
        <p-divider type="solid"></p-divider>
        <li>
          <a [routerLink]="['/activities/1']" (click)="closeSidebar()"
            >Activités manuelles</a
          >
        </li>
        <p-divider type="solid"></p-divider>
        <li>
          <a [routerLink]="['/activities/3']" (click)="closeSidebar()"
            >Coloriage</a
          >
        </li>
        <p-divider type="solid"></p-divider>
        <li>
          <a [routerLink]="['/activities/2']" (click)="closeSidebar()"
            >Activités plein air</a
          >
        </li>
        <p-divider type="solid"></p-divider>
        <li>
          <a [routerLink]="['/activities/4']" (click)="closeSidebar()"
            >Motricité</a
          >
        </li>
        <p-divider type="solid"></p-divider>
        <li>
          <a [routerLink]="['/activities/5']" (click)="closeSidebar()"
            >Contes</a
          >
        </li>
        <p-divider type="solid"></p-divider>
        <li>
          <a [routerLink]="['/activities/6']" (click)="closeSidebar()"
            >Jeux de société</a
          >
        </li>
        <p-divider type="solid"></p-divider>
      </ul>
    </p-sidebar>
    <p-button
      (click)="sidebarVisible = true"
      icon="pi pi-arrow-right"
    ></p-button>
  </div>

  <img
    src="assets/logos/logo2.svg"
    alt="logo"
    class="logo-img"
    routerLink="/home"
  />

  <div class="right-section">
    <button
      pButton
      type="button"
      icon="pi pi-user"
      size="normal"
      [routerLink]="['/family/1']"
    ></button>
  </div>
</div>
