.layout-header{
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-color: #fff;
}

.left-section{
margin-left: 1em;
}

.right-section{
  margin-right: 1em;
  }

.logo-img{
  padding: 0.5em;
width: 120px;
}

.layout-header button {
  width: 40px;
  height: 40px;
}
:host ::ng-deep button {
  background-color: rgb(83, 196, 181);
  color: white;
  border: none;
}
// rgb(248 192 93)
//
