<div class="container">
  <div class="header-logo">
    <img
      src="assets/logos/La fabrique à idées v3.png"
      alt="logo"
      class="logo-img"
      routerLink="/home"
    />
  </div>
  <div class="body-link">
    <a routerLink="activities/age" class="scroll-link" (click)="onScrollLinkClick($event)">Découvrir plus</a>
  </div>
</div>


<!-- <p-button routerLink="activities/age" label="Découvrir plus" -->
  <!-- [raised]="true"
    severity="help"
  ></p-button>
</div> -->
<!-- </p-button> -->
