<div class="grid-container">

  <p-card>
    <p-header>Activités manuelles</p-header>
    <img src="assets/activities_img/activité_manuelle.jpg" alt="Image 1">
  </p-card>

  <p-card>
    <p-header>Activités éxterieure</p-header>
    <img routerLink="/activities" src="assets/activities_img/activité_plein_air.jpg" alt="Image 1">
  </p-card>

  <p-card>
    <p-header>Motricité</p-header>
    <img src="assets/activities_img/motricité.jpg" alt="Image 1">
  </p-card>

  <p-card>
    <p-header>Coloriages</p-header>
    <img src="assets/activities_img/coloriage.jpg" class="img" alt="Image 1">
  </p-card>

  <p-card>
    <p-header>Jeux de société</p-header>
    <img src="assets/activities_img/jeux_societe.jpg" alt="Image 1">
  </p-card>

  <p-card>
    <p-header>Contes</p-header>
    <img src="assets/activities_img/contes.jpg" alt="Image 1">
  </p-card>

