.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // background-image: url('/assets/homepage/child-happy.jpg');
  // background-size: 165% auto;
  // background-repeat: no-repeat;
  // background-position: 50% 110%;
}


.header-logo{
  height: 25vh;
  align-self: center;
  width: 100%;
  height: 300px;
  background-color: #ffffff;
}
.logo-img{
  width: 200px;
  max-width: 400px;
  margin-top: 60px;
  margin-left: 100px;

}

.body-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75vh;
  background-image: url('/assets/homepage/background3.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight:lighter

}

h3{
  position: absolute;
  top: 290px;
  font-size: 2.5rem;
  font-weight: 400;
  // margin-bottom: 400px;
  color: #ffffff;
}

.scroll-link {
  position: absolute;
  bottom: 100px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #a57cf8;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}


.scroll-link:hover {
  background-color: #00b386;
}














