<p-card header="Famille {{family?.username}}" [style]="{ width: '80vw' }" class="card">
  <ng-template pTemplate="header">
    <img alt="Card" src="assets/family/family.jpg" />
  </ng-template>
  <div *ngFor="let child of children">
    <p>Mes enfants : {{ child?.username }}</p>
  </div>
  <ng-template pTemplate="footer" class="footer">
    <p-button (click)="showDialog()" label="Ajouter un enfant" icon="pi pi-check" iconPos="right"></p-button>
  </ng-template>
</p-card>


<p-dialog header="Ajouter un enfant" [(visible)]="displayDialog">
  <app-create-children
  [familyId]="familyId"
  (dataEmitChildCreated)="onReceiveChildrenFromChild($event)"
  (closeDialog)="closeChildrenDialog()" 
  >

  </app-create-children>
</p-dialog>



































